<html>
<head>
    <title>{% block title %}
     Sklep W@S
    {% endblock %}</title>
</head>
<h1>******  Sklep Wymyślony ********</h1>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>