{% extends "base.html" %}
{% block content %}
 <p>Produkty w koszyku: </p>
 <ul>
     {% for product, count in counted.items  %}
     <li>{{product.name}}  - cena: {{ product.price }} zł
         <form action="/cart/change_number/" method="post">
             {% csrf_token %}
             <input type="hidden" name="item_id" value="{{product.id}}">
             <input type="number" name="Liczba: " min="1" value="{{count}}">
             <input type="submit" value="Zmień ilość">
         </form>
         <form action="/cart/remove/" method="post">
             {% csrf_token %}
             <input type="hidden" name="item_id" value="{{product.id}}">
             <input type="submit" value="Usuń z koszyka">
         </form>
     </li>
     {% endfor %}
 </ul>
 <p>Wartość zamówienia: {{cart_total}} zł </p>
 <p><a href="/order/">Złóż zamówienie </a></p>
 <p><a href="/products/">Przejdź do listy produktów</a></p>
{% endblock %}