{% extends "base.html" %}

{% block content %}
<h2>Szegóły produktu {{product.name}}: </h2>
<p>ID: {{ product.id }}</p>
<p>Opis: <ul>{{ product.description }} </ul> </p>
<p>Cena: <ul>{{ product.price }} zł</ul></p>
<p>Średnia ocena: {{ product.get_srednia_ocen}} / 10</p>

<form action="/cart/add/" method="post">
 {% csrf_token %}
 <input type="hidden" name="item_id" value="{{product.id}}">
 <input type="submit" value="Dodaj do koszyka">
</form>


{% if opinions %}
<h2>Opinie:</h2>
    <ul>{% for opinion in opinions %}
         <li>
             <p>{{opinion.autor}} oceniła produkt na {{opinion.ocena}}:</p>
             <ul>,,{{opinion.opinia}}"</ul>
         </li>
    {% endfor %}</ul>
{% endif %}

<p>Dodaj opinię:</p>
<form action="/product/{{product.id}}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="item_id" value="{{product.id }}">
        <input type="submit" value="Dodaj">
</form>
{% endblock %}