{% extends 'base.html' %}
{% block title %} Sklep Wymyślony {% endblock %}
{% block content %}
    <h1>Strona główna</h1>
    <a href="/products/" >Przejdź do listy produków</a> <br>
    <a href="/admin/" >Przejdź do panelu admina</a>

{% endblock %}