{% extends "base.html" %}

{% block content %}
<h2>Produkty: </h2>
<ul>{% for product in products %}
     <li>
         <h3>{{ product.name }}: {{ product.title }}</h3>
         <p>Cena: {{ product.price }}</p>
         <p> <a href="/product/{{product.id}}">Więcej szczegółów </a></p>
     </li>
{% endfor %}</ul>
{% endblock %}