{% extends "base.html" %}
{% block content %}
<h3>Złóż zamówienie</h3>
<ul>
{% for product in products %}
 <li>{{ product.name }} ({{ product.price }})</li>
{% endfor %}
</ul>
<form action="/order/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Złóż zamówienie">
</form>
{% endblock %}