{% extends "base.html" %}

{% block content %}
<h2>Szegóły zamówienia {{order_id}}: </h2>
<p>Całkowita wartość zamówienia:</p> <ul>{{total_price}} zł </ul>

{% if discount != None %}
    <p>Użyta zniżka: <strong style="color: red;"> {{discount.name}} ({{discount.discount}} %) </strong></p>
    <p>Do zapłaty:</p> <ul>{{final_cost}} zł </ul>
{% endif %}


<p> Produkty: </p>
<ol>{% for product in products %}
     <li>
         {{product.product}}
     </li>
{% endfor %}</ol>

 <p><a href="/products/">Wróć do listy produktów</a></p>
{% endblock %}
